<ul #wrapper>
    {{#each cash}}
    <li class="list-item cash" style="background-color: {{this.color}}">
        <table width="100%">
            <tr>
                <td class="date">{{this.date}}</td>
                <td class="type">{{this.type}}</td>
                <td class="description">{{this.description}}</td>
                <td class="amount">{{this.amount}}</td>
                <td class="buttons">
                    <button type="button"
                            onclick="this.form.delete('{{this._id}}')"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            data-upgraded=",MaterialButton,MaterialRipple">
                            <i class="material-icons">delete</i>
                            <span class="mdl-button__ripple-container">
                            <span class="mdl-ripple"></span>
                            </span>
                        </button>
                        <button type="button"
                                onclick="this.form.update('{{this._id}}')"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                data-upgraded=",MaterialButton,MaterialRipple">
                            <i class="material-icons">create</i>
                            <span class="mdl-button__ripple-container">
                            <span class="mdl-ripple"></span>
                        </span>
                    </button>
                </td>
            </tr>
        </table>

        <div style="clear: both"></div>
    </li>
    {{/each}}
</ul>