#wrapper {
  height: 96px;
}

#logo {
  font-family: HelveticaCondensed;
  position: relative;
  margin: 3px;
  height: 50px;
  width: 160px;
  display: inline-block;
  background-size: contain;
  vertical-align: top;
}

#text1 {
  position: absolute;
  top: 15px;
  left: 60px;
  font-size: 34px;
}

#text2 {
  position: absolute;
  top: 36px;
  left: 60px;
  font-size: 13px;
}