<div #wrapper>
    <div class="mdl-shadow--2dp mdl-card mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            TRATAMIENTOS
        </div>
        <table width="100%" style="padding: 10px">
            {{#each treatments}}
            <tr>
                <td><a href="{{this.href}}" onclick="window.navigate(this, event)">{{this.client}}</a></td>
                <td>{{this.titulo}}</td>
                <td style="text-align: right">{{this.price}}</td>
            </tr>
            {{/each}}
            </table>
    </div>
    <div class="mdl-shadow--2dp mdl-card mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            TARJETAS
        </div>
        <table width="100%" style="padding: 10px">
            {{#each bonusCards}}
            <tr>
                <td><a href="{{this.href}}" onclick="window.navigate(this, event)">{{this.client}}</a></td>
                <td>{{this.titulo}}</td>
                <td style="text-align: right">{{this.price}}</td>
            </tr>
            {{/each}}
            </table>
    </div>


</div>
