<form #wrapper class="mdl-grid">
    {{#each bonusCards}}
    <div style="margin: 4px; min-height: auto;"
         class="mdl-card mdl-cell--3-col mdl-shadow--2dp mdl-color--grey-50">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{this.title}}
        </div>
        <div style="padding: 10px;">
            <div>PRECIO: {{this.price}}</div>
            <div>CREDITO: {{this.credit}}</div>
            <div>TRATAMIENTOS: {{this.treatmentsString}}</div>
        </div>
    </div>
    {{/each}}
</form>