<form #wrapper class="mdl-grid cgt-content" enctype="multipart/form-data">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">CARGAR DATOS DEL BANCO:</div>
        <div style="padding: 20px">
            <select #account>
                <option value="main">CUENTA</option>
                <option value="secondary">IVA</option>
            </select>
            <br/>
            <br/>
            <div #files></div>
            <input type="file" value="ALLEGA UN FILE" name="fileUpload"
                   id="csv_upload"/>
        </div>
        <button type="button"
                style="position: absolute;right: 80px;bottom: 10px;"
                onclick="this.form.uploadCsv()"
                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                data-upgraded=",MaterialButton,MaterialRipple">
            <i class="material-icons" role="presentation">cloud_upload</i>
            <span class="mdl-button__ripple-container">
                        <span class="mdl-ripple"></span>
            </span>
        </button>
    </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">REPORTES ENTRE FECHAS:</div>
        <div style="padding: 20px">
            <div class="mdl-textfield mdl-js-textfield">
                DESDE:
                <input #from autocomplete="off" class="mdl-textfield__input" type="date" id="from">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                HASTA:
                <input #to autocomplete="off" class="mdl-textfield__input" type="date" id="to">
            </div>
            <br/>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input value="0" autocomplete="off" class="mdl-textfield__input" type="number" id="maximum">
                <label class="mdl-textfield__label" for="maximum">MAXIMO EN EFECTIVO</label>
            </div>
            <br/>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password">
                <label class="mdl-textfield__label" for="password">PASSWORD DE SEGURIDAD</label>
            </div>
            <br/>
            <label for="save" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" id="save" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">GUARDAR LOS NUMERO DE FACTURAS</span>
            </label>

            <br/><br/>
            <button type="button"
                    onclick="this.form.print('bank')"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">table_chart</i>
                XLSX BANCO
                <span class="mdl-button__ripple-container">
                        <span class="mdl-ripple"></span>
            </span>
            </button>
            <button type="button"
                    onclick="this.form.print('bill_buy_xlsx')"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">table_chart</i>
                XLSX FACTURAS COMPRA
                <span class="mdl-button__ripple-container">
                        <span class="mdl-ripple"></span>
            </span>
            </button>
            <button type="button"
                    onclick="this.form.print('bill_buy_pdf')"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">picture_as_pdf</i>
                PDF FACTURAS COMPRA
                <span class="mdl-button__ripple-container">
                        <span class="mdl-ripple"></span>
            </span>
            </button>
            <button type="button"
                    onclick="this.form.print('bill_sell_xlsx')"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">picture_as_pdf</i>
                XLSX FACTURAS VENTA
                <span class="mdl-button__ripple-container">
                        <span class="mdl-ripple"></span>
            </span>
            </button>
            <button type="button"
                    onclick="this.form.print('bill_sell_pdf')"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">picture_as_pdf</i>
                PDF FACTURAS VENTA
                <span class="mdl-button__ripple-container">
                        <span class="mdl-ripple"></span>
            </span>
            </button>
            <button type="button"
                    onclick="this.form.print('bill_sell_report')"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">picture_as_pdf</i>
                SOMARIO CAJA
                <span class="mdl-button__ripple-container">
                        <span class="mdl-ripple"></span>
            </span>
            </button>
        </div>
    </div>
</form>
