#wrapper {
  text-align: center;
}

#header {
  position: relative;
}

#divider {
  clear: both;
}

#iconswrapper {
}

#news {
  clear: both;
  display: flex;
  flex-flow: row wrap;
}

#scrollable {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#error {
  position: absolute;
  top: 10px;
  width: 90%;
  left: 4%;
  padding: 7px 1%;
  border-radius: 10px;
  border: 1px solid white;
  z-index: 30;
  transition: top 500ms;
}

#image {
  margin: 20px 0 0 0;
}



