#wrapper {
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  vertical-align: top;
  border-radius: 15px;
}

#button {
  position: absolute;
  top: 21px;
  transform: rotate(45deg);
  right: -45px;
}

#title {
  padding-right: 72px;
}
