<div style="width: 160px; position: relative">
    <div style="position: absolute;
    left: 0;
    background: #d886b4;
    color: white;
    transform: rotate(-26deg)translate(-15px, 37px);
    border-radius: 4px;">{{isPromotion}}</div>
    <img
            style="width: auto;
    max-height: 110px;
    display: block;
    margin: 0 auto;"
            src="/google/drive/productos/{{system.deviceType}}.{{foto}}"/>
    <a onclick="window.navigate(this, event)" style="font-size: 14px" href="/es/productos/{{menuhref}}/{{href}}">{{titulo}}</a>
</div>
<
