<form #wrapper>

    <div class="mdl-list__item">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input #subject autocomplete="off" class="mdl-textfield__input" type="text" id="subject">
            <label class="mdl-textfield__label" for="subject">TITULO</label>
        </div>
    </div>
    <h4>CONTENIDO:</h4>
    <textarea #html style="width: 100%" rows="30"></textarea>
    <br/>
    <button
            onclick="this.form.send(true, ['massi.cattaneo.it@gmail.com', 'info@inandoutbelleza.com'])"
            type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            data-upgraded=",MaterialButton,MaterialRipple">INVIA A IN&OUT (TEST)<span
            class="mdl-button__ripple-container"><span
            class="mdl-ripple"></span></span></button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick="this.form.send(false)"
            type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            data-upgraded=",MaterialButton,MaterialRipple">INVIA A TODOS<span class="mdl-button__ripple-container"><span
            class="mdl-ripple"></span></span></button>
</form>