<div style="padding: 10px">
    <div>FECHA: {{date}}</div>

    <div style="display: {{isGift}};">

        <div>VALOR: {{credit}}</div>
        <div>RESTANTE: {{remainig}}</div>
        <ul style="margin-right: 40px">
            {{#each transactions}}
            <li>{{this.date}} {{this.note}}<em style="float: right;">{{this.amount}}</em></li>
            {{/each}}
        </ul>
        <div>
            <div
                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #amount autocomplete="off"
                       class="mdl-textfield__input" type="number" id="amount_{{_id}}">
                <label class="mdl-textfield__label" for="amount_{{_id}}">VALOR</label>
            </div>
            <div
                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #note autocomplete="off"
                       class="mdl-textfield__input" type="text" id="note_{{_id}}">
                <label class="mdl-textfield__label" for="note_{{_id}}">NOTA</label>
            </div>
            <br/>
            <button type="button"
                    style="min-width: 150px;"
                    onclick="this.form.useGift('{{_id}}')"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    data-upgraded=",MaterialButton,MaterialRipple">
                <i class="material-icons">swap_vert</i>
                UTILIZA
                <span class="mdl-button__ripple-container">
                <span class="mdl-ripple"></span>
            </span>
            </button>
        </div>
    </div>

    <div style="display: {{isBonus}}; margin-bottom: 50px;">
        <div>VALOR BONO: {{price}}</div>
        <div style="margin-bottom: 10px">PAGADO: {{payed}}</div>
        {{#each treatments}}
        <output style="display: block;"
                onclick="this.form.useBonus('{{_id}}', '{{this.id}}', '{{this.title}}', '{{this.icon}}')">
            <span
                  style="margin: 2px; min-width: 300px">
                <button type="button" class="mdl-chip__action"><i class="material-icons">{{this.icon}}</i></button>
                <span class="mdl-chip__text">{{this.title}} 
                    <em style="display: inline-block; margin-left: 50px">{{this.date}}</em>
                </span>
            </span>
        </output>
        {{/each}}
        <hr/>
        <div style="margin-top: 10px; display: {{showCompleteBuy}}">
            <div
                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input autocomplete="off"
                       class="mdl-textfield__input" type="number" id="bonus_pay_amount_{{_id}}">
                <label class="mdl-textfield__label" for="bonus_pay_amount_{{_id}}">VALOR</label>
            </div>
            <br/>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1_{{_id}}">
                <input type="radio" id="option-1_{{_id}}" class="mdl-radio__button" name="type_{{_id}}" value="tarjeta" {{tarjeta}} />
                <span class="mdl-radio__label">TARJETA CREDITO</span>
            </label>
            <br/>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2_{{_id}}">
                <input type="radio" id="option-2_{{_id}}" class="mdl-radio__button" name="type_{{_id}}" value="efectivo" {{efectivo}}/>
                <span class="mdl-radio__label">EFECTIVO</span>
            </label>
            <br/>
            <button type="button"
                    style="min-width: 150px;"
                    onclick="this.form.payRemainingBonus('{{_id}}')"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    data-upgraded=",MaterialButton,MaterialRipple">
                <i class="material-icons">add_shopping_cart</i>
                COMPLETA EL PAGO DEL BONO
                <span class="mdl-button__ripple-container">
                <span class="mdl-ripple"></span>
            </span>
            </button>
        </div>
    </div>

    <hr/>
    <button type="button"
            style="min-width: 150px;"
            onclick="this.form.deleteBonus('{{_id}}')"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            data-upgraded=",MaterialButton,MaterialRipple">
        <i class="material-icons">delete</i>
        ELIMINAR EL BONO Y LA RELATIVA CAJA
        <span class="mdl-button__ripple-container">
                <span class="mdl-ripple"></span>
            </span>
    </button>

</div>