<dialog class="mdl-dialog">
    <form #form>
        <div class="mdl-dialog__content">
            <h4>FACTURA</h4>
            <p>selecciona un dia para descargar la factura</p>
            <p>
            <div class="mdl-textfield mdl-js-textfield">
                <input #date autocomplete="off" class="mdl-textfield__input" type="date" id="date">
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #name autocomplete="off" class="mdl-textfield__input" type="text" id="name">
                <label class="mdl-textfield__label" for="name">NOMBRE:</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #nif autocomplete="off" class="mdl-textfield__input" type="text" id="nif">
                <label class="mdl-textfield__label" for="nif">NIF:</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #address autocomplete="off" class="mdl-textfield__input" type="text" id="address">
                <label class="mdl-textfield__label" for="address">DIRECCION:</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #city autocomplete="off" class="mdl-textfield__input" type="text" id="city">
                <label class="mdl-textfield__label" for="city">CIUDAD:</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #cap autocomplete="off" class="mdl-textfield__input" type="text" id="cap">
                <label class="mdl-textfield__label" for="cap">CAP:</label>
            </div>
            </p>
            <!--[18:27, 8/10/2019] Carmen: B93287274-->
            <!--[18:27, 8/10/2019] Carmen: Calle cordoba-->
            <!--[18:27, 8/10/2019] Carmen: N6-->
            <!--[18:27, 8/10/2019] Carmen: Oficina 204-->
            <!--[18:28, 8/10/2019] Carmen: 29001-->
            <!--[18:28, 8/10/2019] Carmen: Málaga-->
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button" onclick="this.form.save()">DESCARGAR PDF</button>
            <button type="button" class="mdl-button close" onclick="this.form.close()">ANULAR</button>
        </div>
    </form>
</dialog>
