<div #wrapper style="position: relative;">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast"
         style="padding-left: 4px;height: 48px;">
        {{title}}

        <button style="position:absolute; right: 0px; overflow: visible;"
                type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                id="day_{{column}}">
            <!--<i class="mdl-badge material-icons" data-badge="0">more_vert</i>-->
            <i class="mdl-badge material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="day_{{column}}">
            <li class="mdl-menu__item">
                <output style="display: block; width: 100%;"
                        onclick="this.form.editNote({worker: '{{column}}'})">
                    NOTA
                </output>
            </li>
            <!--<li class="mdl-menu__item">-->
                <!--<output style="display: block; width: 100%;"-->
                        <!--onclick="this.form.editHours({worker: '{{column}}'})">-->
                    <!--HORARIO-->
                <!--</output>-->
            <!--</li>-->
        </ul>

    </div>
</div>
