<dialog class="mdl-dialog">
    <form #form>
        <div class="mdl-dialog__content">
            <p>
            <div class="mdl-textfield mdl-js-textfield">
                <input #start autocomplete="off" value="{{start}}" class="mdl-textfield__input" type="date" id="start">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input #end autocomplete="off" value="{{end}}" class="mdl-textfield__input" type="date" id="end">
            </div>
            </p>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button" onclick="this.form.save()">GUARDAR</button>
            <button type="button" class="mdl-button close" onclick="this.form.close()">ANULAR</button>
            <button type="button" class="mdl-button close mdl-color--red mdl-color-text--white" onclick="this.form.delete('{{worker}}', '{{id}}')">BORRAR</button>
        </div>
    </form>
</dialog>