<dialog class="mdl-dialog">
    <form #form>
        <div class="mdl-dialog__content">
            <h5>{{title}}</h5>
            <div #workers>
                {{#each workers}}
                <label style="margin:5px; width: auto;" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="edit-hours-worker-{{this.index}}">
                    <input type="checkbox" id="edit-hours-worker-{{this.index}}" class="mdl-checkbox__input" name="edit-hours-workers-{{this.index}}" value="{{this.index}}">
                    <span class="mdl-checkbox__label">{{this.title}}</span>
                </label>
                {{/each}}
            </div>
            <hr/>
            <div #centers>
                {{#each centers}}
                <label style="margin:5px;" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="edit-hours-center-{{this.index}}">
                    <input type="radio" id="edit-hours-center-{{this.index}}"
                           class="mdl-radio__button" name="edit-hours-centers-options" value="{{this.index}}">
                    <span class="mdl-radio__label">{{this.label}}</span>
                </label>
                {{/each}}
            </div>
            <hr/>
            <div>
                HORAS: <input type="time" id="edit-hours-from" min="10:00" max="20:00" required value="10:00"> -
                <input type="time" id="edit-hours-to" min="10:00" max="20:00" required value="20:00">
            </div>
            <hr/>
            <div #date>
                <label style="margin:5px;" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="edit-hours-hoy">
                    <input type="radio" id="edit-hours-hoy" onchange="this.form.changeDate(0)" class="mdl-radio__button" name="edit-hours-options" value="0" checked>
                    <span class="mdl-radio__label">SOLO HOY</span>
                </label>
                <label style="margin:5px;" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="edit-hours-from-hoy">
                    <input type="radio" id="edit-hours-from-hoy" onchange="this.form.changeDate(1)" class="mdl-radio__button" name="edit-hours-options" value="1">
                    <span class="mdl-radio__label">A PARTIR DE HOY</span>
                </label>
            </div>
            <div #days>
                <hr/>
                HASTA: <input type="date" id="edit-hours-from-hoy-to"/><br/>
                (vacio se aplica sin fecha de fin)<br/>
                {{#each days}}
                <label style="margin:5px; width: auto;" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="edit-hours-days-{{this.index}}">
                    <input type="checkbox" id="edit-hours-days-{{this.index}}" class="mdl-checkbox__input" checked
                           name="edit-hours-days-{{this.index}}" value="{{this.index}}">
                    <span class="mdl-checkbox__label">{{this.title}}</span>
                </label>
                {{/each}}
            </div>

        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button" onclick="this.form.save()">GUARDAR</button>
            <button #close type="button" class="mdl-button close" onclick="this.form.close()">ANULAR</button>
        </div>
    </form>
</dialog>
