<output class="hour"
        style="top: {{top}}px; height: {{height}}px; background-color: {{bgColor}}"
        ondragenter="this.form.dragEnter()"
        ondragleave="this.form.dragLeave()"
        ondragover="this.form.dragOver()"
        ondblclick="this.form.drop({worker: '{{worker}}'}, {processId: 98})"
        ondrop="this.form.drop({worker: '{{worker}}'})"
        onclick="this.form.paste({worker: '{{worker}}'})">
    <label style="background-color: {{bgColor}}">{{label}}</label>
</output>
