<div #wrapper class="mini-calendar">
    <button type="button"
			onclick="this.form.back()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            data-upgraded=",MaterialButton,MaterialRipple">
        <i class="material-icons">arrow_back</i>
        <span class="mdl-button__ripple-container">
            <span class="mdl-ripple"></span>
        </span>
    </button>
	<h5 #month class="mdl-color-text--primary"></h5>
    <button type="button"
			onclick="this.form.forward()"
			class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            data-upgraded=",MaterialButton,MaterialRipple">
        <i class="material-icons">arrow_forward</i>
        <span class="mdl-button__ripple-container">
            <span class="mdl-ripple"></span>
        </span>
    </button>
    <table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td #h_0 class="day header">D</td>
			<td #h_1 class="day header">L</td>
			<td #h_2 class="day header">M</td>
			<td #h_3 class="day header">X</td>
			<td #h_4 class="day header">J</td>
			<td #h_5 class="day header">V</td>
			<td #h_6 class="day header">S</td>
		</tr>
		<tr>
			<td><output #1_0 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #1_1 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #1_2 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #1_3 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #1_4 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #1_5 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #1_6 class="day" onclick="this.form.changeDate()"></output></td>
		</tr>
		<tr>
			<td><output #2_0 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #2_1 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #2_2 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #2_3 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #2_4 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #2_5 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #2_6 class="day" onclick="this.form.changeDate()"></output></td>
		</tr>
		<tr>
			<td><output #3_0 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #3_1 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #3_2 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #3_3 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #3_4 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #3_5 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #3_6 class="day" onclick="this.form.changeDate()"></output></td>
		</tr>
		<tr>
			<td><output #4_0 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #4_1 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #4_2 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #4_3 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #4_4 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #4_5 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #4_6 class="day" onclick="this.form.changeDate()"></output></td>
		</tr>
		<tr>
			<td><output #5_0 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #5_1 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #5_2 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #5_3 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #5_4 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #5_5 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #5_6 class="day" onclick="this.form.changeDate()"></output></td>
		</tr>
		<tr>
			<td><output #6_0 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #6_1 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #6_2 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #6_3 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #6_4 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #6_5 class="day" onclick="this.form.changeDate()"></output></td>
			<td><output #6_6 class="day" onclick="this.form.changeDate()"></output></td>
		</tr>
	</table>

</div>
