#wrapper {
    height: 100%;
    padding: 0;
}

#minicalendar {
    height: 180px;
}
#central {
    height: 180px;
}
#processes {
    height: 180px;
}

#cart {
    border: 2px dotted rgb(86, 171, 43);
    flex: auto;
    padding-top: 25px;
}
#client {
    border: 2px dotted rgb(86, 171, 43);
    flex: auto;
    padding-top: 25px;
}
#headerwrapper {
    width: 100%;
    display:flex;
    margin: 0 8px;
}
#calendar {
    position: relative; 
    overflow-y: scroll;
    display:flex;
}

#buttonwrapper {
    display: none;
}

.mobile #buttonwrapper {
    display: block;
    margin: 0 6px;
}

#msepulveda { display: none; }
#msepulveda_header { display: none; }
#msepulveda_button { display: none; }

#chloe { display: none; }
#chloe_header { display: none; }
#chloe_button { display: none; }