<form #wrapper class="mdl-grid cgt-content">
    <div #minicalendar class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
    </div>
    <div #processes class="day-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--8-col-desktop">
    </div>
    <div class="day-card mdl-shadow--2dp mdl-cell mdl-cell--12-col calendar-wrapper" style="position: relative;">
        <div #carmen class="calendar-item">
        </div>
        <div #carmen_v class="calendar-item">
        </div>
        <div #estefania class="calendar-item">
        </div>
        <div #ana class="calendar-item">
        </div>
        <div #maria class="calendar-item">
        </div>
        <div #susanna class="calendar-item">
        </div>
        <div #wendy class="calendar-item">
        </div>
        <div #chloe class="calendar-item">
        </div>
        <div #vanessa class="calendar-item">
        </div>
        <div #eila class="calendar-item">
        </div>
    </div>
</form>
