<div #wrapper class="mdl-grid cgt-content">
    <div class="cgt-charts mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <table width="100%" style="font-size: 9px">
            <tr>
                <th></th>
                {{#each users}}
                    <th style="text-align: right;">{{this.name}}</th>
                {{/each}}
            </tr>
            <tr>
                <td>DIA</td>
                {{#each users}}
                <td  style="text-align: right;">{{this.today}}</td>
                {{/each}}
            </tr>
            <tr style="background-color: #eeeeee">
                <td>MES</td>
                {{#each users}}
                <td  style="text-align: right;">{{this.month}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>TRIM</td>
                {{#each users}}
                <td  style="text-align: right;">{{this.trimonth}}</td>
                {{/each}}
            </tr>
            <tr style="background-color: #eeeeee">
                <td>AÑO</td>
                {{#each users}}
                <td  style="text-align: right;">{{this.year}}</td>
                {{/each}}
            </tr>
        </table>
    </div>
    <div class="cgt-graphs mdl-shadow--2dp mdl-cell mdl-cell--8-col">
        <canvas #chart width="100%" height="100%"></canvas>
    </div>
    <div class="cgt-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        <div class="cgt-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div style="padding: 5px">
                <h5>EFECTIVO ACTUAL</h5>
                <table>
                    <tr>
                        <td>SALITRE</td>
                        <td>{{cashSalitre}}</td>
                    </tr>
                    <tr>
                        <td>BUENAVENTURA</td>
                        <td>{{cashBuenaventura}}</td>
                    </tr>
                     <tr>
                        <td>PUERTANUEVA</td>
                        <td>{{cashPortanueva}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cgt-separator mdl-cell--1-col"></div>
        <div class="cgt-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            
        </div>
    </div>
</div>