<dialog class="mdl-dialog">
    <form #form>
        <div class="mdl-dialog__content">
            <p>
            <div><strong>CREA UN BONO:</strong> <br/>{{bonus.title}} - {{amount}}</div>
            <div class="mdl-selectfield mdl-js-selectfield">
                <select #client id="clientId" name="clientId" class="mdl-selectfield__select">
                    <option value=""></option>
                    {{#each clients}}
                    <option value="{{this._id}}">{{this.surname}} {{this.name}} ({{this.email}})</option>
                    {{/each}}
                </select>
                <label class="mdl-selectfield__label" for="clientId">CLIENTE:</label>
            </div>
            <em style="color: red; font-size: 10px">ACUERDATE DE DESCONTAR LA SESSION QUE HA UTILIZADO DESDE EL HISTORIAL DEL CLIENTE</em>
            </p>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button" onclick="this.form.save()">GUARDAR</button>
            <button type="button" class="mdl-button close" onclick="this.form.close()">ANULAR</button>
        </div>
    </form>
</dialog>