<form #wrapper>
    <div #wrapperbuttons class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input autocomplete="off" onkeyup="this.form.search(event, this)" class="mdl-textfield__input" type="text"
               #search id="subject">
            <label class="mdl-textfield__label" for="subject">BUSCAR</label>
        </div>
        <label style="margin:5px; width: auto;" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
            for="only-active">
            <input type="checkbox" id="only-active" class="mdl-checkbox__input"
                onclick="this.form.onlyActive(event, this)"
                name="only-active" value="1">
            <span class="mdl-checkbox__label">OCULTA USADOS</span>
        </label>
        <button #scanqr
                type="button"
                onclick="this.form.scanqr()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons">camera</i>
            ESCANEAR CODIGO QR
        </button>
    </div>
    <div #orderswrapper style="height: calc(100% - 136px);">
        <div #orders></div>
    </div>
    <footer #footer class="mdl-mega-footer mdl-grid">
        <div class="mdl-cell--3-col" #month></div>
        <div class="mdl-cell--3-col" #count></div>
        <div class="mdl-cell--3-col" #total></div>
        <div class="mdl-cell--3-col" #notused></div>
    </footer>
</form>
