<nav #wrapper class="cgt-navigation mdl-navigation">
    <a class="mdl-navigation__link"  onclick="window.navigate(this, event)" href="{{urls.homePage.href}}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
        {{urls.homePage.menu}}
    </a>
    <a class="mdl-navigation__link" onclick="window.navigate(this, event)" href="{{urls.events.href}}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">event</i>
        {{urls.events.menu}}
    </a>
    <a class="mdl-navigation__link" onclick="window.navigate(this, event)" href="{{urls.clients.href}}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">face</i>
        {{urls.clients.menu}}
    </a>
    <a class="mdl-navigation__link" onclick="window.navigate(this, event)" href="{{urls.cash.href}}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_balance_wallet</i>
        {{urls.cash.menu}}
    </a>
    <a class="mdl-navigation__link" onclick="window.navigate(this, event)" href="{{urls.cart.href}}">
        <i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">shopping_cart</i>
        {{urls.cart.menu}}
    </a>
    <a class="mdl-navigation__link" onclick="window.navigate(this, event)" href="{{urls.bills.href}}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_balance</i>
        {{urls.bills.menu}}
    </a>
    <a class="mdl-navigation__link" onclick="window.navigate(this, event)" href="{{urls.orders.href}}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_atm</i>
        {{urls.orders.menu}}
    </a>
    <a class="mdl-navigation__link" onclick="window.navigate(this, event)" href="{{urls.print.href}}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">print</i>
        {{urls.print.menu}}
    </a>
    <a class="mdl-navigation__link" onclick="window.navigate(this, event)" href="{{urls.newsletter.href}}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">email</i>
        {{urls.newsletter.menu}}
    </a>
</nav>
