/* fallback */
th {
    text-align: left;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.cgt-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.cgt-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.cgt-avatar {
    width: 100%;
}

.cgt-menu-item-icon {
    vertical-align: middle;
    padding: 0 9px 0 0;
    font-size: 40px;
}

#progress {
    width: 100%;
    opacity: 0;
}

.list-item:hover {
    background: #c9e9cd;
}

.list-item {
    border-radius: 2px;
    margin: 7px 10px;
    list-style: none;
    padding: 0 9px;
    font-size: 17px;
    line-height: 34px;
    box-shadow: 0 1px 1px grey;
    background: #e9e9e9;
}

.list-item .mdl-button {
    float: right;
    min-width: auto;
}

.list-item.cash .date {
    width: 60px
}

.list-item.cash .description {
    width: calc(100% - 500px)
}

.list-item.cash .amount {
    width: 100px;
    text-align: right;
}

.list-item.cash .type {
    width: 100px;
}

.list-item.cash .buttons {
    width: 145px
}

/** MINI CALENDAR */
.mini-calendar table {
    width: 100%;
    margin-top: 6px;
}

.mini-calendar .day {
    height: 11px;
    margin: 1px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    line-height: 11px;
    color: #989898;
}

.mini-calendar td {
    text-align: center;
    width: 14.7%;
}

.mini-calendar .day.selected {
    background-color: #56ab2a;
    color: white;
}

.mini-calendar .day.work {
    color: black;
    pointer-events: all;
}

.mini-calendar .day.old {
    pointer-events: all;
    color: #989898;
}

.mini-calendar .day.header {
    background-color: transparent;
    font-weight: 800;
    cursor: default;
    color: #999e5c;
}

.mini-calendar output {
    width: 100%;
    display: inline-block;
}

.mini-calendar h5 {
    margin: 4px 0;
    text-align: center;
    width: calc(100% - 138px);
}

.day-card {
    overflow: visible !important;
}

.day-card .mdl-button .mdl-badge[data-badge]:after {
    top: -20px;
    right: -12px;
}

.hour {
    display: block;
    position: absolute;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    line-height: 12px;
    border-top: 1px dotted black;
}

.hour label {
    position: relative;
    top: -7px;
}

.hour.hover label {
    background: #56ab2a !important;
}

.process {
    margin: 2px;
}

.process-color-1 {
    background-color: violet !important;
    color: black !important;
}

.process-color-2 {
    background-color: orange !important;
    color: white !important;
}

.process-color-3 {
    background-color: darkcyan !important;
    color: white !important;
}

.process-color-4 {
    background-color: red !important;
    color: white !important;
}

.process-color-5 {
    background-color: yellow !important;
    color: black !important;
}

.process-color-6 {
    background-color: cornflowerblue !important;
    color: black !important;
}

.process-color-7 {
    background-color: purple !important;
    color: white !important;
}

.process-color-8 {
    background-color: greenyellow !important;
    color: black !important;
}

.process-color-9 {
    background-color: blue !important;
    color: white !important;
}

.process-color-10 {
    background-color: coral !important;
    color: white !important;
}

.process-color-11 {
    background-color: orangered !important;
    color: white !important;
}

.process-color-12 {
    background-color: mediumvioletred !important;
    color: white !important;
}

.process-color-13 {
    background: #c5cbcb !important;
    color: black !important;
}

.process-color-14 {
    background-color: paleturquoise !important;
    color: black !important;
}

.process-color-15 {
    background-color: darkslategray !important;
    color: white !important;
}

.process-color-16 {
    background-color: darkolivegreen !important;
    color: white !important;
}

.process-color-17 {
    background-color: #53ffbc !important;
    color: black !important;
}

.process-color-18 {
    background-color: #ffac6f !important;
    color: black !important;
}

.process-color-19 {
    background-color: #ffb9c7 !important;
    color: black !important;
}

.process-color-20 {
    background-color: #95f3ff !important;
    color: black !important;
}

.process-color-21 {
    background-color: #0dff29 !important;
    color: black !important;
}

.process-color-22 {
    background-color: magenta !important;
    color: white !important;
}

.process-color-23 {
    background-color: #5c00b8 !important;
    color: #ffffff !important;
}

/** NOTE */
.process-color-96 {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid black !important;
    width: calc(100% - 8px) !important;
    left: 0 !important;
    overflow: visible !important;
}
.process-color-96:before {
    content: 'NOTA';
    position: absolute;
    top: -11px;
    font-size: 7px;
}

.process-color-97 {
    background-color: black !important;
    color: white !important;
}

.process-color-98 {
    background-color: grey !important;
    color: white !important;
}

.process-color-99 {
    background: repeating-linear-gradient(45deg, #555, #555 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 20px) !important;
    color: white !important;
}

.event {
    position: absolute;
    overflow: hidden;
    padding: 0 4px;
    user-select: none;
    border: 1px dotted white;
    font-size: 12px;
    color: black;
    background-color: #aeaeae;
    left: 36px;
    width: calc(100% - 46px);
    line-height: 12px;
}

.circle-indicator {
    border: 1px solid grey;
    border-radius: 20px;
    display: inline-block;
    width: 11px;
    height: 11px;
    vertical-align: middle;
    margin: 0 5px;
}

.chip-cancel {
    background-color: transparent;
}

/* Animations */
/* Values that appear onclick */
@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
@keyframes zoom {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}


