.flag {
    width: 43px;
    height: 30px;
    margin: 6px;
    vertical-align: middle;
    display: inline-block;
    background: url(/assets/images/flags.png);
    background-size: 200px 200px;
}

.flag.es {
    background-position: -145px -85px;
}
.flag.en {
    background-position: -12px -19px;
}