#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 200ms;
  max-width: 600px;
  right: 0;
  margin: auto;
  box-shadow: -11px 0px 15px rgba(0,0,0,0.5);
  z-index: 20;
  overflow: hidden;
}


.desktop #wrapper {
  position: fixed;
  width: 400px;
  height: 400px;
  overflow: scroll;
  right: auto;
  left: 0;
  top: 0;
  bottom: auto;
  resize: both;
  border: 4px outset grey;
  max-width: initial;
}

#bar {
  width: 100%;
}

#close {
  font-size: 30px;
  top: 4px;
  position: relative;
  left: 6px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  text-decoration: none;
}

#title {
  position: absolute;
  top: 13px;
  left: 55px;
}

#container {
  position: relative;
}

#scrollable {
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.desktop #scrollable {
  -webkit-overflow-scrolling: auto;
}

#content {
  margin: 10px;
}

#cart {
  line-height: 35px;
  float: right;
  margin: 5px 0px;
  padding: 0px 15px;
  cursor: pointer;
  position: absolute;
  right: 11px;
  top: 0;
  text-decoration: none;
}


