<div #wrapper>
    <div #licence class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{about.titleLicence}}
        </div>
        {{about.textLicence}}
    </div>
    <div #info class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{about.titleInfo}}
        </div>
        {{about.listInfo}}
    </div>
    <div #thanks class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{about.titleThanks}}
        </div>
        {{about.listThanks}}
    </div>

</div>