<div class="dark-grey-bg-color white-color" #header>
    <div #logo>
        <div #text>in<span class="green-color">&</span>out</div>
        <div #subtext>centro de belleza</div>
    </div>
    <a #user
       href="{{loginUrl}}" onclick="window.navigate(this, event)"
       class="clickable flaticon-profile dark-grey-border-color medium-grey-color"></a>
    <span #divider></span>
    <a #cart
         href="{{cartUrl}}" onclick="window.navigate(this, event)"
         class="clickable flaticon-shopping-basket dark-grey-border-color">
        <span #notify class="icon-notify"></span>
    </a>
</div>