<dialog class="mdl-dialog">
    <form #form>
        <div class="mdl-dialog__content">
            <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #name autocomplete="off"
                       value="{{name}}" class="mdl-textfield__input" type="text" id="name"/>
                <label class="mdl-textfield__label" for="name">NOMBRE</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #surname autocomplete="off"
                       value="{{surname}}" class="mdl-textfield__input" type="text" id="surname"/>
                <label class="mdl-textfield__label" for="surname">APPELIDO</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #email autocomplete="off"
                       value="{{email}}" class="mdl-textfield__input" type="email" id="email"/>
                <label class="mdl-textfield__label" for="email">CORREO</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input #tel autocomplete="off"
                       value="{{tel}}" class="mdl-textfield__input" type="text" id="tel"/>
                <label class="mdl-textfield__label" for="tel">TELEFONO</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea #notes class="mdl-textfield__input" type="text" rows="5" id="notes" >{{notes}}</textarea>
                <label class="mdl-textfield__label" for="notes">NOTAS</label>
            </div>
            </p>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button" onclick="this.form.save()">GUARDAR</button>
            <button type="button" class="mdl-button close" onclick="this.form.close()">ANULAR</button>
        </div>
    </form>
</dialog>
