#wrapper {

}

#wrapperbuttons {
  position: absolute;
  padding: 5px;
  background: white;
  top: 0;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

#clients {
  padding-bottom: 90px;
  padding-top: 53px;
}
