<form #wrapper>
    <div #wrapperbuttons class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input autocomplete="off" onkeyup="this.form.search(event, this)" class="mdl-textfield__input" type="text"
                id="subject" #search>
            <label class="mdl-textfield__label" for="subject">BUSCAR</label>
        </div>
        <button #add type="button" onclick="this.form.add()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons">add</i>
        </button>
        <button #resetcard
                type="button"
                onclick="this.form.resetCard()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons">move_to_inbox</i>
            BORRAR TARJETA
        </button>
        <button #scanqr
                type="button"
                onclick="this.form.scanqr()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons">camera</i>
            ESCANEAR QR
        </button>
    </div>
    <div #clientswrapper style="height: calc(100% - 136px);">
        <div #clients></div>
    </div>
    <footer #footer class="mdl-mega-footer mdl-grid">
        <div class="mdl-cell--3-col" #useweb></div>
        <div class="mdl-cell--3-col" #withorders></div>
        <div class="mdl-cell--3-col" #withcard></div>
        <div class="mdl-cell--3-col" #count></div>
    </footer>
</form>
