<form #wrapper>
    <div #clients></div>
    <button #add
            type="button"
            onclick="this.form.add()"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
    <footer #footer class="mdl-mega-footer mdl-grid">
        <div class="mdl-cell--3-col" #useweb></div>
        <div class="mdl-cell--3-col" #withorders></div>
        <div class="mdl-cell--3-col" #withcard></div>
        <div class="mdl-cell--3-col" #count></div>
    </footer>
</form>